log_file = "{{ coriolis_log_dir }}/coriolis-metal.log"
sysinfo_polling_period = 3600

[api]
bind = "{{ bind_address }}"
port = {{ coriolis_metal_hub_port }}
auth_middleware = "keystone"
use_tls = true

	[api.keystone_auth]
	auth_uri = "{{ keystone_auth_url }}"

	[api.tls]
	certificate = "{{ coriolis_appliance_tls_cert_bundle }}"
	key = "{{ coriolis_appliance_tls_key }}"

[database]
backend = "mysql"

	[database.mysql]
	username = "{{ coriolis_metal_hub_database_username }}"
	password = "{{ coriolis_metal_hub_database_password }}"
	hostname = "{{ database_address }}"
	database = "{{ coriolis_metal_hub_database_name }}"

[client_config]
tls_certificate = "{{ coriolis_metal_hub_client_cert_path }}"
tls_key = "{{ coriolis_metal_hub_client_key_path }}"
tls_ca_cert = "{{ coriolis_metal_hub_ca_cert_path }}"
